<div class="login-container">
  <div class="login-image">
    <img src="images/imagenLogin.jpg" alt="Login Image">
  </div>
  <div class="login-content">
    <div class="login-form-wrapper">
      <div class="login-logo-container">
        <img src="images/Logo.png" alt="Bank Logo" class="login-logo">
      </div>
      <form class="login-form" (submit)="onSubmit($event)">
        <app-input placeholder="Numero de documento" id="doc-number" [(ngModel)]="dni" name="dni"
          (ngModelChange)="clearError()">
        </app-input>

        <app-input type="password" placeholder="Clave de acceso" id="access-key" [(ngModel)]="password" name="password"
          (ngModelChange)="clearError()">
        </app-input>

        <div class="login-button-container">
          <app-button text="Acceso" type="submit"></app-button>
        </div>
        <p class="login-error" *ngIf="loginError">{{ loginError }}</p>
      </form>
    </div>
  </div>
</div>
