<div class="c-login-container">
  <div class="c-login-image">
    <img src="images/imagenLogin.jpg" alt="Login Image">
  </div>
  <div class="c-login-content">
    <div class="c-login-form-wrapper">
      <div class="c-login-logo-container">
        <img src="images/Logo.png" alt="Bank Logo" class="c-login-logo">
      </div>
      <form class="c-login-form" (ngSubmit)="onSubmit()">
        <app-input placeholder="Numero de documento" id="doc-number" [(ngModel)]="dni" name="dni"
          (ngModelChange)="clearError()">
        </app-input>

        <app-input type="password" placeholder="Clave de acceso" id="access-key" [(ngModel)]="password" name="password"
          (ngModelChange)="clearError()">
        </app-input>

        <div class="c-login-button-container">
          <app-button text="Acceso" type="submit"></app-button>
        </div>
        @if (loginError) {
          <p class="c-login-error">{{ loginError }}</p>
        }
      </form>
    </div>
  </div>
</div>
