@use "../../../scss/main.scss";

:host {
  display: block;
}

.ui-quick-action {
  display: grid;
  justify-items: center;
  gap: var(--cyb-sys-padding-5);
  padding: var(--cyb-sys-padding-6);
  background: none;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  width: 100%;
}

.ui-quick-action__icon {
  width: calc(var(--cyb-sys-padding-12) + var(--cyb-sys-padding-8));
  height: calc(var(--cyb-sys-padding-12) + var(--cyb-sys-padding-8));
  border-radius: 50%;
  background-color: var(--cyb-sys-color-white-9);
  border: 1px solid var(--cyb-sys-color-light-blue-8);
  box-shadow: var(--cyb-sys-shadow-2);
  display: grid;
  place-items: center;
}

.ui-quick-action__icon img {
  width: var(--cyb-sys-padding-11);
  height: var(--cyb-sys-padding-11);
  object-fit: contain;
}

.ui-quick-action__label {
  font-family: var(--cyb-sys-font-family-ui);
  font-size: var(--cyb-sys-font-size-4);
  font-weight: var(--cyb-sys-font-weight-7);
  color: var(--cyb-sys-color-blue-gray-4);
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
